<a href="#" class="appElementLink" onclick="displayChangeAppsOverlay()">
    <div class="appElement">
        <h4>Manage what apps you see on your home screen</h4>
        <div class="iconElement">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="glyphicon glyphicon-minus"></span>
        </div>
    </div>
</a>