<a href="#" class="appElementLink" onclick="displayChangeAppsOverlay()">
    <div class="appElement">
        <p>Add more apps to your home page!</p>
        <div class="iconElement">
            <span class="glyphicon glyphicon-plus"></span>
        </div>
    </div>
</a>